{{ted-page-header
  subheading='Ember'
  slim-heading='Searchable '
  strong-heading='Select'
  byline='A select-like menu with searching and filtering capabilities'}}

<div class="container">
  <br>
  {{#ember-markdown-section}}
    ## Installation

    To get started, install this addon,  [ember-cli-sass](https://github.com/aexmachina/ember-cli-sass), and include the ember-searchable-select styles in your app.scss.

    ```
    ember install ember-searchable-select
    ember install ember-cli-sass
    ```
    <br>

    #### app.scss

    ```
    @import "ember-searchable-select/style";
    ```
    <br>

    ## Examples
  {{/ember-markdown-section}}

  {{examples/example-default TEDevents=TEDevents}}
  {{examples/initial-selection TEDevents=TEDevents}}
  {{examples/example-disabled TEDevents=TEDevents}}
  {{examples/word-boundary TEDevents=TEDevents}}
  {{examples/ajax-search TEDevents=TEDevents}}
  {{examples/two-way-bound TEDevents=TEDevents}}

  {{options-table}}

</div>

