<a href="#"
  class="Searchable-select__label
    {{if _isShowingMenu 'Searchable-select__label--menu-open'}}"
  {{action "toggleMenu"}}>
  {{#if _selected}}
    {{searchable-select-get _selected optionLabelKey}}
  {{else}}
    {{prompt}}
  {{/if}}
</a>

{{#if _isShowingMenu}}
  <div class="Searchable-select__menu">
    <div class="Searchable-select__search" {{action "noop" bubbles=false}}>
      {{input
        class="Searchable-select__input"
        type="text"
        placeholder=searchPrompt
        key-up="updateSearch"
        bubbles=false}}
    </div>


    {{#if _isShowingClear}}
      <div class="Searchable-select__clear"
        {{action "clear" bubbles=false}}>
        <span class="Searchable-select__icon Searchable-select__icon--clear">
          &times;
        </span>
        {{clearLabel}}
      </div>
    {{/if}}

    {{#if _isShowingAddNew}}
    <div class="Searchable-select__add-new"
    {{action "addNew" bubbles=false}}>
      {{addLabel}} <em>{{_searchText}}</em>
    </div>
    {{/if}}

    {{#if _isShowingNoResultsMessage}}
    <div class="Searchable-select__info">
      {{noResultsMessage}}
    </div>
    {{/if}}

    {{#if isLoading}}
      <div class="Searchable-select__info">
        <!-- Loading SVG by Sam Herbert (@sherb), More @ http://goo.gl/7AJzbL -->
        <svg
          width="12" height="12"
          viewBox="0 0 40 40"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#9a9a9a"
          class="Searchable-select__loader">
          <g fill="none" fill-rule="evenod  d">
            <g transform="translate(2 2)" stroke-width="4">
              <circle
                stroke-opacity=".6"
                cx="18" cy="18" r="18"
                class="Searchable-select__loader-circle"/>
              <path
                d="M36 18c0-9.94-8.06-18-18-18"
                class="Searchable-select__loader-spinner">
                <animateTransform
                  attributeName="transform"
                  type="rotate"
                  from="0 18 18"
                  to="360 18 18"
                  dur="0.8s"
                  repeatCount="indefinite"/>
              </path>
            </g>
          </g>
        </svg>
        <span class="Searchable-select__loader-text">
          {{loadingMessage}}
        </span>
      </div>
    {{/if}}

    {{#if _hasResults}}
    <ul class="Searchable-select__options-list">
      {{#each filteredContent key="@index" as |option|}}
        <li
          class="Searchable-select__option
          {{if (searchable-select-is-equal option _selected)
            'Searchable-select__option--selected'}}
          {{if (searchable-select-get option optionDisabledKey)
            'Searchable-select__option--disabled'}}"
          {{action "selectItem" option bubbles=false}}>
          {{#if (searchable-select-is-equal option _selected)}}
            <span class="Searchable-select__icon Searchable-select__icon--check
              Searchable-select__option-indicator--selected">
              &#10003;
            </span>
          {{/if}}
          <span class="Searchable-select__option-label
            {{if (searchable-select-is-equal option _selected)
              'Searchable-select__option-label--selected'}}">
            {{searchable-select-highlight-match
              (searchable-select-get option optionLabelKey)
              _searchText
            }}
          </span>
        </li>
      {{/each}}
    </ul>
    {{/if}}

  </div>
{{/if}}