<a
  href="#"
  class="Searchable-select__label {{if _isShowingMenu 'Searchable-select__label--menu-open'}}"
  {{action "toggleMenu"}}>
  {{#if _selected}}
    {{searchable-select-get _selected optionLabelKey}}
  {{else}}
    {{prompt}}
  {{/if}}
</a>

{{#if _isShowingMenu}}
  <div class="Searchable-select__menu">
    <div class="Searchable-select__search" {{action "noop" bubbles=false}}>
      {{input
        class="Searchable-select__input"
        type="text"
        placeholder=searchPrompt
        key-up="updateSearch"
        bubbles=false}}
    </div>

    {{#if _isShowingClear}}
      <div class="Searchable-select__clear" {{action "clear" bubbles=false}}>
        <span class="Searchable-select__clear-icon">&times;</span>
        {{clearLabel}}
      </div>
    {{/if}}
    <ul class="Searchable-select__options-list">
      {{#each filteredContent key="@index" as |option|}}
        <li
          class="Searchable-select__option {{if (searchable-select-is-equal option _selected) 'Searchable-select__option--selected'}}"
          {{action "selectItem" option}}>
          {{#if (searchable-select-is-equal option _selected)}}
            <span class="Searchable-select__option-indicator Searchable-select__option-indicator--selected">&#10003;</span>
          {{/if}}
          <span class="Searchable-select__option-label {{if (searchable-select-is-equal option _selected) 'Searchable-select__option-label--selected'}}">
            {{searchable-select-get option optionLabelKey}}
          </span>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}